@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
text-decoration: none;
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
}

.main_container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0c12;
}

.main_content{
  width: 35%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.title {
  padding: 15px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f6c7e;
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
}

.password_box{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24232b;
  color: #646270;
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.generator_box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #24232b;
}

.length_box{
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #24232b;
}

/*customizando o slider range*/
.length_slider{
  margin: 10px;
  display: flex;
  align-items: center;
  background-color: #24232b;
}
.length_slider input[type="range"]{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background-color: #24232b;
  border: none;
  display: flex;
  align-items: center;
}
.length_slider input[type="range"]::-webkit-slider-runnable-track {
    background: #18171f; 
    border-radius: 0px;
  height: 6px;
}
.length_slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 19px; 
    height: 19px; 
    background: #c9c8ce;
    cursor: pointer; 
    border: none; 
    border-radius: 50%; 
  margin-top: -6px;
}
.length_slider input[type="range"]::-webkit-slider-thumb:hover {
background: #24232b;
  border: 2px solid #a3fdab;
}

.length_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c9c8ce;
  background-color: #24232b;
  margin-bottom: 10px;
}

.checkboxes form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  align-items: flex-start;
  color: #c9c8ce;
  background-color: #24232b;
}

/*customização dos checkboxes*/
.checkboxes{
  display: flex;
  align-items: center;
}
.checkboxes label{
  cursor: pointer;
  display: flex;
}
.checkboxes input[type='checkbox']{
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.checkboxes label::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: .15em;
  margin-right: 1em;
  border: .18em solid #c9c8ce;
}
.checkboxes label:hover::before, .checkboxes input[type='checkbox']:hover + label::before {
  border-color: #a3fdab;
}
.checkboxes input[type='checkbox']:checked + label::before {
  content: '\002714';
  background-color: #a3fdab;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #18171f;
  border-color: #a3fdab;
}

.strength_box{
  padding: 15px;
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #18171f;
  color: #827f90;
  text-transform: uppercase;
}

.strength_title{
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1.5px;
  transform: scaleY(1.15);
}

.button {
  box-sizing: border-box;
  padding: 6px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3fdab;
  border: 2px solid transparent;
  color: #2f273d;
  font-size: 12px;
  font-weight: bold;
   text-transform: uppercase;
  letter-spacing: 1.5px;
  transform: scaleY(1.15);
  cursor: pointer;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s;
}
.button_icon{
  font-size: 1.7em;
  font-weight: bolder;
  margin-left: 16px;
  margin-bottom: 0.15em;
  transition: color 0.1s;
}

/*hover do botão 'generate'*/
.button:hover {
  background-color: #24232b;
  color: #a3fdab;
  border-color: #a3fdab; 
}
.button:hover .button_icon {
  color: #a3fdab;
}

/*
-icone de forca da senha?

responsividade: 
- tablet
- celular

jsx:
-criador das senhas;
-activestate slider range
-forca da senha;
-copia e cola;
*/