html {
  height: 100vh;
  width: 100vw;
}

* {
  border: solid 1px red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  background-color: hsl(0, 0%, 94%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_content {
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  height: 65vh;
  border-radius: 20px;
  border-bottom-right-radius: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-right: 45px;
}

.input_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.input_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

.input_box label {
  color: hsl(0, 1%, 44%);
  font-weight: bold;
  text-transform: uppercase;
}

.input_box input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid hsl(0, 0%, 86%);
  border-radius: 5px;
  font-size: 16px;
  color: hsl(0, 0%, 8%);
  font-weight: bold;
}

.input_box input::placeholder {
  color: hsl(0, 1%, 44%);
}

.input_box input:focus {
  color: hsl(259, 100%, 65%);
}

.error_message {
  color: hsl(0, 100%, 67%);
  margin-top: 5px;
}

.input_box.error label,
.input_box.error input {
  color: hsl(0, 100%, 67%);
  border-color: hsl(0, 100%, 67%);
}

.submit_button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: hsl(259, 100%, 65%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.output_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.output_container p {
  margin: 0;
  padding: 5px 0;
  color: hsl(0, 0%, 8%);
  font-weight: bold;
}

.output_container p span {
  color: hsl(259, 100%, 65%);
  font-weight: bold;
}